<app-layout>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vendas</h5>  
          <div class="row">
            <div class="form-group col-lg-12">
                <label for="aluno"class="control-label">Clientes:</label>
                <select [(ngModel)]="vendas.cliente" class="form-control">
                    <option [ngValue]="null">Selecione</option>  
                    <option *ngFor="let cliente of listaCliente" [ngValue]="cliente">{{cliente.nome}}</option>
                </select>              
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Adicionar Produtos</h5>  
              <div class="row">
                <div class="form-group col-lg-6">
                    <label for="aluno"class="control-label">Produtos:</label>
                    <select [(ngModel)]="vendaitem.produto" class="form-control">
                        <option [ngValue]="null">Selecione</option>  
                        <option *ngFor="let produto of listaProduto" [ngValue]="produto">{{produto.nome}}</option>
                    </select>                     
                </div>

                <div class="form-group col-lg-6">
                    <label for="dataVenda"class="control-label">Data da Venda:</label>
                    <input type="date" class="form-control" [(ngModel)]="vendaitem.dataVendaItem" />
                </div>
                
              </div>
              
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                    <button *ngIf="this.operacao=='Incluir'" type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="adicionar()">Adicionar</button>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Data Venda</th>                                   
                        <th>Excluir</th>                                   
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vendaitem of vendas.listaVendaItem" >                        
                        <th>{{vendaitem.produto.nome}}</th>
                        <td>{{vendaitem.dataVendaItem | date: 'dd/MM/yyyy'}}</td>
                        <th><a style="cursor: pointer;" (click)="removerproduto(vendaitem)" ><mat-icon>delete</mat-icon></a></th>
                      </tr>                  
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>            
          

          <div class="row" style="margin-bottom: 20px; margin-top: 20px;">
            <div class="col-lg-12">
              <button *ngIf="this.operacao=='Incluir'" type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()" >Incluir</button>              
              <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="voltar()" >Voltar</button>              
            </div>
          </div>

        </div>
    </div>
</app-layout>